meta(charset="UTF-8")
meta(name="description", content="BTC AG gives back to the community! An overview of all the open source projects by the BTC AG.")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/css/styles.css", rel="stylesheet")