header
    .top-bar
        .limit-width-box
            block nav_before
            .flex-fill
            a.top-bar-link(href="https://www.btc-ag.com")
                img(src="/img/btc-logo-white.png")
                span(data-lang="en") Company Website
                span(data-lang="de") Unternehmenswebseite
            a.top-bar-link(href="https://github.com/btc-ag")
                img(src="/img/github_logo.png")
                span GitHub Organisation