$btc_blue: #004594;
$btc_blue_dark: #002D5E;
$btc_yellow: #FFD500;
$dark_gray: #333333;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14pt;
  max-width: 100vw;
}

h1 {
  font-weight: 300;
  margin: 0.67em 0;
}

#back-button {
  cursor: pointer;
}

a {
  color: $btc_blue;
  text-decoration: none;
}

.top-bar {
  z-index: 10;
  background-color: $btc_blue;
  width: 100%;
  position:relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px $btc_blue_dark;

  font-weight: 300;
}

.content {
  padding: 5px;
  word-wrap: break-word;
}

.limit-width-box {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.arrow {

  border: solid $btc_blue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $dark_gray;
  margin: 5px;
}

.top-bar-link {
  font-size: 13pt;
  color: white;

  display: flex;
  align-items: center;
  padding: 30px 30px;


  text-decoration: none;
  height: 100%;

  :hover {
    background-color: $btc_blue_dark;
  }

  img {
    height: 24px;
    margin-right: 10px;
  }
}


.btc-welcome {
  width: 100%;
  max-width: 100vw;

  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,#fafafa 100%), url(../img/trianglify.svg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $btc_blue;
}

.project-showcase {
  width: 100%;
  box-sizing: border-box;

  padding: 40px 5px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 400px;

  border-radius: 4px;

  background-color: white;
  box-shadow: 0 4px 10px #aaaaaa;

  display: flex;
  flex-direction: column;
  margin: 10px 20px;

}

.project-title {
  margin: 0;
  align-self: center;
}

.project-logo {
  margin: 10px;
  height: 100px;
  align-self: center;
}

.project-description {
  font-size: 12pt;
  padding: 15px;
  /*border-top: 1px solid rgb(0, 72, 148);*/
  text-align: justify;
  flex-grow: 3;

  p {
    margin-top: 0;
  }
}

#btc-sticker {
  display: none;
}


.project-link {
  padding: 15px;
  /*border-top: 1px solid rgb(0, 72, 148);*/
  color: $btc_blue;
  display: flex;
  justify-content: flex-end;
}

#btc-logo {
  width: 80vw;
  filter: drop-shadow(0px 0px 35px whitesmoke);
}

.divider {
  display: block;
  width: 90vw;
  height: 3px;
  background: radial-gradient(circle at center, $btc_yellow 0%, $btc_yellow 50%, rgba(0,0,0,0));
}

.footer {
  font-weight: 300;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  font-size: 11pt;
  color: $dark_gray;
  background-color: white;
  border-top: 1px solid #aaaaaa;
}

.flex-fill {
  flex-grow: 100;
}

.footer > .limit-width-box > * {
  padding: 10px;
  height: 40px;
  line-height: 40px;
}

.footer a {
  color: $dark_gray;
  text-decoration: none;
}

.footer a:hover {
  background-color: #cccccc;
}

.svg-arrow {
  width: 32px;
  height: 32px;
}

.content h1,h2,h3,h4,h5,h6 {
  margin-left: 0;
  margin-right: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 !important;
  height: 60px !important;
  box-sizing: border-box;
}

.dropdown-anchor {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.dropdown-anchor span {
  min-width: 70px;
}

.dropdown:hover .dropdown-anchor {
  background-color: #cccccc;
}

.dropdown-anchor img {
  height: 24px;
  margin: 5px;
  filter: opacity(80%);
}

.dropdown-content {
  min-width: 144px;
  height: initial;
  line-height: initial;
  bottom: 60px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
  flex-direction: column;
}

.dropdown-content a {
  padding: 15px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: flex;
}

@media (min-width: 1400px) {

  .dropdown-content {
    bottom: 60px;
  }

  #btc-sticker {
    display: block;
    position: absolute;
    top: 120px;
    right: 16vw;
    transform: rotate(10deg);
    filter: drop-shadow(0px 0px 5px $btc_blue);
  }

  .divider {
    width: 40vw;
  }
  .project-showcase {
    padding: 60px 40px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: center;
  }

  #btc-logo {
    margin: 40px 0 0.67em 0;
    width: 25vw;
  }

  .top-bar {
    height: 50px;
    flex-direction: row;
  }

  .limit-width-box {
    width: 1337px;
    flex-direction: row;
  }

  .top-bar-link {
    padding: 0 15px;
  }

  .content {
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    margin-bottom: 80px;
    width: 1337px;
    max-width: 1337px;
  }
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}